* {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f1f5f9;
}
h4 {
  font-weight: 100;
}
.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
    display: flex;
  background: white;
  height: 66px;
  padding-left: 10px;
  margin: 0px;
  padding-right: 10px;
  align-items: center;
}
.all {
  margin: 0px 100px;
}
.parent-card {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
  justify-content: space-around;
}
.card-one {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 24px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  width: 200px;
  margin: 15px;
}
h2 {
  align-self: end;
}

.form-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 24px;
  width: 330px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.form-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
}
.form-card select {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
}
.form-card button {
  width: 100%;
  padding: 14px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}
