* {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to left bottom,
    #4e56c0,
    #6159c9,
    #755bd1,
    #885cd9,
    #9b5de0
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.test h4 {
  font-weight: 100;
}
.test h2 {
  font-weight: 600;
}
.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  /* background: white; */
  height: 66px;
  padding-left: 10px;
  margin: 0px;
  padding-right: 10px;
  align-items: center;
  /* backdrop-filter: blur(50px);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.45)
  ); */
  background: rgb(255, 237, 258, 0.3);
}
.all {
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent-card {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  justify-content: space-between;
}
.card-one {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  width: 200px;
  margin: 15px;
  backdrop-filter: blur(50px);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.45)
  );
  gap: 10px;
  height: 91px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
}
.card-one h5 {
  padding-bottom: 45px;
  font-size: 20px;
}

.card-one h2 {
  align-self: end;
  font-size: 46px;
}

.form-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 24px;
  width: 330px;
  height: 250px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(50px);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.45)
  );
}

.form-card input {
  color: black;
  font-weight: 600;
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
}
.form-card select {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  backdrop-filter: blur(50px);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.45)
  );
}
.form-card option {
  color: black;
  border-radius: 10px;
}
.form-card button {
  width: 100%;
  padding: 14px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}
.container-tt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

thead tr {
  border-bottom: 2px solid #ccc;
}

tbody tr {
  border-bottom: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
.info-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  width: 330px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(50px);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.45)
  );
  min-width: 37pc;
  margin-left: 76px;
  padding: 10px;
  padding-bottom: 5px;
}
.info-card button {
  width: 60px;
  padding: 10px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.5);
}
/* model style */
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 70%; */
  /* background-color: white; */
  /* padding: 6rem; */
  /* border-radius: 5px; */
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.parking-card {
  width: 360px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  border-radius: 18px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-header h3 {
  font-size: 1.2rem;
}

.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
}

.status.parked {
  background: #22c55e;
  color: #052e16;
}

.status.paid {
  background: #38bdf8;
  color: #082f49;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.info span {
  display: block;
  font-size: 0.75rem;
  color: #cbd5f5;
}

.info strong {
  font-size: 0.95rem;
}

.price {
  color: #facc15;
  font-weight: bold;
}
#info-price {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.pay-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.pay-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.5);
}

.test-test {
  display: flex;
}

.second {
  width: 100%;
  margin: 0;
  padding: 20px;
  margin-bottom: 30px;
}

.spots-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 25px;
  height: 100%;
}

.spots-card h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 22px;
}

.spots-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  place-items: center;
  gap: 20px;
}

.spot {
  height: 90px;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.spot.free {
  background: rgba(2, 76, 22, 0.6);
  color: #5b5bd6;
}

.spot.occupied {
  background: rgba(255, 0, 0, 0.2);
  color: #fff;
}

.spot:hover {
  transform: scale(1.05);
}
#test {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding-left: 145px;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 10;
  transform: translatex(-50%);
}

.error-card {
  background: #ffffff;
  padding: 8px 8px;
  border-radius: 16px;
  text-align: center;
  width: 320px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  animation: fadeIn 0.4s ease-in-out;
  height: 40px;
}
.error-card p{
  color: black;
}
